<html>
    {% extends 'base.html' %}

    {% block content %}
    
    <main class="container py-5">
        <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p> Basado en el titulo "VALIDACION DE UN MODELO COMPUTACIONAL CON UN PUENTE TIPO
            VIGA A ESCALA REDUCIDA, PARA ESTIMAR, LA POSICION Y CARGA DE UN MOVIL, 
            MEDIANTE LAS DEFORMACIONES Y DESPLAZAMIENTOS, (CUSCO, 2025)", buscar estudios 
            similares nacionales, ubicar titulo, universidad, autor, año y link al documento
        </p>

        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">
                signin
            </a>
            <a class="btn btn-secondary" href="/signup/">
                signup
            </a>
        </div>



    </section>
    </main>

    
    {% endblock %}


</html>